# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj/
_test/

# Compiled Go files
*.test
*.prof

# Test binary, build with 'go test -c'
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# Environment variables file
.env

# Compiled binary
bin/

# Go executables
*.exe
*.out

# Local binary file
# (this is for example of building things with the `go` tool)
build/
.DS_Store
# End of go master class .gitignore
